.form-block{
    display: flex;
    justify-content: center;
    flex-direction: column;
    svg{
        position: absolute;
        cursor: pointer;
        transition: 0.3s ease;
        right: 10px;
        top: 10px;
        &:hover{
            transition: 0.3s ease;
            fill: white;
            padding: 5px;
        }
    }
    label{
        color: white;
        font-size: 14px;
        text-align: start;
        line-height: 2;
        text-align: left;
        display: block;
        margin-top: 20px;
        color: white;
        font-size: 14px;
        font-weight: 200;
    }
    input{
        display: block;
        box-sizing: border-box;
        width: 100%;
        border-radius: 4px;
        border: 1px solid white;
        padding: 10px 15px;
        margin-bottom: 5px;
        font-size: 14px;
        &:active{
            outline: purple;
        }
    }
    button{
        background: purple;
        color: white; 
        text-transform: uppercase;
        margin-top: 70px;
        padding: 20px;
        font-size: 16px;
        letter-spacing: 5px;
        transition: 0.3s ease;
        cursor: pointer;
        &:hover{
            background:blueviolet;
            transition: 0.3s ease;
        }
        &:active{
            transition: 0.3s all;
            transform: translateY(3px);
            border: 1px solid transparent;
            opacity: 0.8;
        }
    }
    p{
        display: block;
        text-align: left;
        color: #bf1650;
        font-size: 14px;
        line-height: 2;
        font-weight: 200;
    }
}